.flex-container {
    display: flex;
    width: 90%;
    flex-flow: column nowrap;
    margin: 2rem auto;
}

.revision-date {
    text-align: center;
    color: #4d5154;
}

th, td {
    padding: 15px 10px;
    font-family: 'Raleway', sans-serif;
    border: solid 1px #cbc8c8;
}

tr:nth-child(2n+1) {
    background-color: rgba(203, 200, 200, 0.23);
}

th:nth-child(2), td:nth-child(2n) {
    min-width: 100px;
    height: 100%;
    text-align: center;
}

th {
    background-color: var(--main-background);
    color: white;
    border: solid 1px var(--main-background);
}

@media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .page-name {
        top: 40%;
    }

    .page-name h2 {
        text-align: left;
        margin-left: 15%;
        border: solid white 5px;
        border-right: 0;
        padding: 30px;
        width: fit-content;
    }

    .revision-date {
        text-align: left;
    }
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .top-section, .top-section img {
        height: 30em;
    }

    .page-name {
        top: 45%;
    }

    .page-name h2 {
        text-align: left;
        margin-left: 15%;
        border: solid white 10px;
        border-right: 0;
        font-size: 3.5rem;
        padding: 40px;
        letter-spacing: 5px;
    }

    .flex-container {
        width: 70%
    }

    th {
        font-size: 1.25rem;
    }

    th:nth-child(2), td:nth-child(2n) {
        min-width: 150px;
    }
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    .flex-container {
        width: 70%;
        margin: 4em auto
    }

    th, tr {
        padding: 25px 10px;
    }
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    .top-section, .top-section img {
        height: 40em;
    }

    .page-name h2 {
        padding: 60px;
    }

}
