:root {
    --semi-transparent-white: rgba(255, 255, 255, 0.75);
    --main-color: #38B000;
    --main-background: #007200;
    --main-bright: #70e000;
    --hover-dark: #004b23;
    --filter-main: invert(51%) sepia(35%) saturate(5081%) hue-rotate(67deg) brightness(101%) contrast(102%);
    --filter-main-dark: invert(15%) sepia(45%) saturate(6743%) hue-rotate(116deg) brightness(94%) contrast(103%);
    --background-gradient: linear-gradient(180deg, rgba(56, 176, 0, 0) 54%, rgba(56, 176, 0, 1) 100%);;
}

html, body {
    font-family: 'Inter Tight', sans-serif;
    padding: 0;
    margin: 0;
}


/*---------NAVBAR------------*/

a.navbar-brand {
    color: var(--main-bright);
    font-weight: bolder;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 40%;
    display: inline-block;
    text-align: right;
}

.nav-item, .nav-link {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    min-width: 100px;
    padding: 0.5rem 0;
}

.navbar > .container-fluid {
    justify-content: space-between;
}

.nav-item a:hover {
    color: var(--main-color);
}

/*div.navbar-brand {*/
/*    padding: 30px;*/
/*    position: relative;*/
/*    text-align: left;*/
/*}*/

/*.navbar {*/
/*    flex-flow: column;*/
/*    justify-content: center;*/
/*    justify-items: center;*/
/*    text-align: center;*/
/*}*/


/*.mx-auto {*/
/*    margin-left: 100px !important;*/
/*}*/

/*button.navbar-toggler {*/
/*    position: absolute;*/
/*    right: 20%;*/
/*    top: 20px;*/
/*}*/

/*---------CAROUSEL------------*/
.carousel {
    margin-top: 46px;
    position: relative;
}

.carousel-item img, #carouselControls {
    object-fit: cover;
    height: 15em;
}

.carousel-caption h5 {
    position: absolute;
    bottom: -5px;
    left: -10px;
    color: black;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: normal;
    letter-spacing: 2px;
    background-color: var(--semi-transparent-white);
    text-align: center;
    padding: 1em;
}


/*---------MAIN POINTS------------*/
.main-points-container {
    height: auto;
    width: 100%;
    background-color: var(--main-background);
    color: white;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
}

.main-point-card img {
    width: 100%;
    height: 5em;
    object-fit: cover;
    padding: 0;
}

#logo-img {
    width: 100%;
}

.main-point-card {
    font-family: "Inter Tight", serif;
    font-weight: 200;
    font-size: 1.5rem;
    padding: 15px 0 15px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.main-point-card div:first-child {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--main-bright);
}

/*---------INFORMATION CARDS------------*/
.two-blocks-container {
    display: flex;
    width: 100%;
    flex-flow: column-reverse nowrap;
    height: auto;
    justify-content: center;
    align-content: center;
}


.half-screen {
    flex: 1 1 20%;
    height: 540px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-shrink: 0;
    min-width: 240px;
}


.half-screen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.custom-card {

    flex: 1 0 auto;

    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 20px 1em;
    width: 100%;
}


.custom-card img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin: 20px auto;
}

.feature-icon {
    filter: var(--filter-main);
}

.feature-icon:hover {
    filter: var(--filter-main-dark);
}

.custom-card h2 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.custom-card p {
    font-family: 'Raleway', sans-serif;
    padding-right: 10px;
}

/*---------NEED HELP?--------*/

.contact-section {
    width: 100%;
    background-color: var(--main-background);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 1.5em;
}



.help h2 {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Inter Tight', sans-serif;
    letter-spacing: 2px;
    color: white;
    line-height: 1.5;

}

.help:first-line {
    color: var(--main-bright);
}

.contact-us {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    text-align: center;
    min-width: 250px;
}

.contact-section button {
    background-color: var(--main-background);
    height: auto;
    font-family: 'Inter Tight', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: solid 2px var(--main-bright);
    color: var(--main-bright);
    font-size: 1em;
    padding: 10px;


}

.contact-section button:hover {
    background-color: var(--main-color);
    color: white;
}

.disease-section {
    height: auto;
    text-align: center;
    padding: 50px;
}

.disease-section h2:first-child {
    color: var(--main-bright);
}

.disease-section h2 {
    text-transform: uppercase;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

/** diseases area**/

.disease-card-container {
    height: auto;
    width: 100%;
    padding: 0 30px 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
}


.disease-card {
    height: 313px;
    flex: 1 1;
    overflow: hidden;
    position: relative;
}

.disease-card:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgb(38, 95, 31);
    background: var(--background-gradient);
}

.disease-card img {
    height: 313px;
    /*or height:100%*/
    min-height: 200px;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

.disease-card h5 {
    color: white;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    z-index: 1;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 1px;

}

/** PRICES **/
.prices-section {
    text-align: center;
    padding: 50px;
    font-family: 'Raleway', sans-serif;
}

.prices-section h1 {
    text-transform: uppercase;
    color: var(--main-bright);
    font-size: 2rem;
}

.prices-section p {
    max-width: 300px;
    margin: 25px auto 25px;
}

.prices-section button {
    padding: 15px 20px;
    font-size: 2rem;
    border: 1px var(--main-color) solid;
    background-color: var(--main-color);
    color: white;
    font-weight: bolder;
}

.prices-section button:hover {
    background-color: var(--main-background);
}

/** INFORMATION**/
.location-section {
    display: flex;
    width: 100%;
    padding: 0;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}

.information-card {
    height: 313px;
    flex: 1 1 280px;
    overflow: hidden;
    position: relative;
    padding: 40px;
    color: white;
}

.information-card h3 {
    margin-top: 90px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.information-card a {
    color: white;
    text-decoration: none;
}

.information-card p {
    margin-top: 20px;
    padding: 0 20px 0 0;
}

.information-logo {
    width: 100%;
    margin: auto;
}

.information-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    padding: 20px;
    object-fit: contain;
    position: absolute;
    right: 30px;
    top: 30px;
    border: 1px solid;

}

#inform-card-1 {
    background-color: #70e000;
}

#inform-card-2 {
    background-color: #38b000;
}

#inform-card-3 {
    background-color: #008000;
}

#inform-card-4 {
    background-color: #007200;
}

#inform-card-5 {
    background-color: #006400;
}

.maps-section {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    justify-content: center;
}

.mapouter {
    position: relative;
    text-align: right;
    flex: 1 1 350px;
    height: 400px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 100%;
    min-width: 350px;
}


.target {
    border-top: 72px solid transparent;
    margin-top: -72px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

footer {
    position: relative;
}

footer p {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.back-to-top {
    padding: 0 10px;
    min-width: 50px;
    display: block;
    text-align: center;
    color: var(--main-bright);
    text-transform: uppercase;
}

@media (min-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .custom-card {
        width: 40%;
        padding: 1em;
    }

    .main-point-card {
        flex: 1 1 300px;
    }

    #logo-img {
        flex: 1 1 100%;
    }

    .contact-us {
        width: 40%;
    }

    .contact-section {
        flex-flow: row wrap;
        gap: 2em;
        justify-content: space-evenly;
    }

    .contact-section button {
        font-size: 2em;
    }

    .disease-card-container {
        flex-flow: row wrap;
        align-items: flex-start;
    }

    .disease-card {
        min-width: 313px;
        flex: 1 1 313px;
    }

    .navbar > .container-fluid {
        justify-content: space-between;
    }

    .carousel-item img, #carouselControls {
        height: 30em;

    }

}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .carousel-caption h5 {
        position: absolute;
        bottom: 70px;
        left: 100px;
        color: black;
        text-transform: uppercase;
        font-size: 2.25rem;
        font-weight: lighter;
        letter-spacing: 2px;
        background-color: var(--semi-transparent-white);
        padding: 10px;
    }

    .prices-section h1 {
        font-size: 3rem;
    }


}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    .nav-item, .nav-link {
        text-transform: uppercase;
        font-size: 1.5rem;
        min-width: 120px;
        margin: 10px 20px;
    }

    #logo-img {
        width: 30%;
    }

    .two-blocks-container {
        flex-direction: row;
        flex-wrap: wrap;
    }


    .mapouter {
        width: 500px;
    }

    .maps-section {
        flex-flow: row wrap;
    }

    .main-points-container {
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: center;
        gap: 3em;
    }

    .main-point-card {
        flex: 1 1 180px;
        padding: 1em 2em;
    }

    #logo-img {
        flex: 1 0 350px;
    }

    .target {
        border-top: 92px solid transparent;
        margin-top: -92px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    .target {
        border-top: 124px solid transparent;
        margin-top: -124px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }

    .carousel-item img, #carouselControls {
        height: 50em;
    }
}
