html {
    font-family: 'Inter Tight', sans-serif;
}

/*---------NAVBAR------------*/

a.navbar-brand {
    color: #6ECB63;
    font-weight: bolder;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 50%;
    display: inline-block;

}

.nav-item, .nav-link {
    min-width: 100px;
    padding: 0;
}


.nav-item a:hover {
    color: #6ECB63;
}


.carousel {
    margin-top: 70px;
    height: 600px;
    position: relative;
}

.carousel-caption h5 {
    position: absolute;
    bottom: 70px;
    left: 100px;
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 2px;
    background-color: white;
    padding: 10px;
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.divider {
    height: auto;
    width: 100%;
    background-color: #265f1f;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
}

.divider img {
    height: 200px;
    display: block;
}

.divider-card {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 20px 0 15px;
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divider-card div:first-child {
    font-size: 3rem;
    font-weight: bolder;
    color: #B1E693;
}


.my-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: auto;
}

.half-screen {
    flex: 1 1 20%;
    width: 50%;
    height: 540px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.half-screen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.custom-card {
    padding: 10px;
    flex: 1 0 auto;
    width: 50%;
    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    text-align: center;

}

.custom-card img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin: 20px auto;
}

.feature-icon {
    filter: invert(66%) sepia(70%) saturate(338%) hue-rotate(67deg) brightness(95%) contrast(86%);
}

.feature-icon:hover {
    filter: invert(33%) sepia(27%) saturate(1245%) hue-rotate(67deg) brightness(99%) contrast(86%);
}

.custom-card h2 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.custom-card p {
    font-family: 'Raleway', sans-serif;
    padding-right: 10px;
}

/** Second divider**/

.second-divider {
    height: auto;
    width: 100%;
    background-color: #265f1f;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 50px 200px;
}

.help {
    padding: 10px;
}

.help h2 {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Inter Tight', sans-serif;
    letter-spacing: 2px;
    color: white;
    line-height: 1.5;

}

.help:first-line {
    color: #B1E693;
}

.contact-us {
    font-family: 'Raleway', sans-serif;
    width: 400px;
    text-align: left;
    min-width: 250px;
}

.second-divider button {
    background-color: #265f1f;
    height: auto;
    font-family: 'Inter Tight', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: solid 2px #B1E693;
    color: #B1E693;
    font-size: 1.5rem;
    padding: 10px;
    min-width: 200px;
}

.second-divider button:hover {
    background-color: #6ECB63;
    color: white;
}

.third-divider {
    height: auto;
    text-align: center;
    padding: 50px;
}

.third-divider h2:first-child {
    color: #6ECB63;
}

.third-divider h2 {
    text-transform: uppercase;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

/** diseases area**/

.disease-card-container {
    height: auto;
    width: 100%;
    padding: 0 30px 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
}

.disease-card {
    height: 313px;
    min-width: 313px;
    flex: 1 1 313px;
    overflow: hidden;
    position: relative;
}

.disease-card:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgb(38, 95, 31);
    /*background: linear-gradient(0deg, rgba(38,95,31,1) 0%, rgba(38,95,31,0.7819502801120448) 14%, rgba(38,95,31,0) 48%);*/
    /*background: linear-gradient(0deg, rgba(110,203,99,1) 0%, rgba(110,203,99,1) 14%, rgba(38,95,31,0) 48%);*/
    background: linear-gradient(0deg, rgba(71, 131, 64, 1) 0%, rgba(90, 161, 82, 0.7147233893557423) 14%, rgba(38, 95, 31, 0) 48%);
}

.disease-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

.disease-card h5 {
    color: white;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    z-index: 1;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 1.5px;

}

/** PRICES **/
.prices {
    text-align: center;
    padding: 50px;
    font-family: 'Raleway', sans-serif;
}

.prices h1 {
    text-transform: uppercase;
    color: #6ECB63;
    font-size: 3rem;
}

.prices p {
    max-width: 300px;
    margin: 25px auto 25px;
}

.prices button {
    padding: 15px 20px;
    font-size: 2rem;
    border: 1px #6ECB63 solid;
    background-color: #6ECB63;
    color: white;
    font-weight: bolder;
}

.prices button:hover {
    background-color: #0c4128;
}

/** INFORMATION**/
.information-card-container {
    display: flex;
    width: 100%;
    padding: 0;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}

.information-card {
    height: 313px;
    min-width: 313px;
    flex: 1 1 313px;
    overflow: hidden;
    position: relative;
    padding: 40px;
    color: white;
}

.information-card h3 {
    margin-top: 90px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.information-card p {
    margin-top: 20px;
    padding: 0 20px 0 0;
}

.information-logo {
    height: 100px;
    margin: auto;
}

.information-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    padding: 20px;
    object-fit: contain;
    position: absolute;
    right: 30px;
    top: 30px;
    border: 1px solid;

}

#inform-card-1 {
    background-color: #6ecb63;
}

#inform-card-2 {
    background-color: #5fb555;
}

#inform-card-3 {
    background-color: #519f47;
}

#inform-card-4 {
    background-color: #428a3a;
}

#inform-card-5 {
    background-color: #34742c;
}

.maps-container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
}

.mapouter {
    position: relative;
    text-align: right;
    flex: 1 1 350px;
    height: 400px;
    width: 500px;
    min-width: 350px;
}

#gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 100%;
    min-width: 350px;
}

.target {
    border-top: 72px solid transparent;
    margin-top: -72px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
@media (max-width: 576px) {
    .mx-auto {
        margin-left: 20px !important;
    }

    button.navbar-toggler {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .carousel-item img {
        object-fit: contain;
        height: 200px;
    }

    .carousel-caption h5 {
        position: absolute;
        bottom: -5px;
        left: -10px;
        color: black;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: lighter;
        letter-spacing: 2px;
        background-color: white;
        text-align: left;
    }

    #carouselControls {
        height: 200px;
    }

    .my-container {
        flex-flow: column-reverse nowrap;
        height: auto;
    }

    .custom-card {
        padding: 20px 100px;
        width: 100%;
        height: auto;
        display: block;
    }

    .half-screen {
        width: 100%;
        flex-shrink: 0;
        min-width: 240px;
    }

    .contact-us {
        text-align: center;
    }

    .second-divider {
        gap: 10px;
    }

    .prices h1 {
        font-size: 2rem;
    }

}

@media (min-width: 1050px) {
    div.navbar-brand {
        padding: 30px;
        position: relative;
        text-align: center;
    }


    .nav-item, .nav-link {
        text-transform: uppercase;
        padding: 20px 25px;
        font-size: 1.5rem;
        font-weight: lighter;
        min-width: 120px;
    }
    .target {
        border-top: 132px solid transparent;
        margin-top: -132px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }

}
